<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-3 rounded-circle d-flex justify-content-center">
      <div class="card bg-dark text-light">
        <div class="row mt-4 mx-4">
          <div class="col-sm-1">
            <div
              class="rounded-circle img-card text-center bg-light text-dark p-1"
            >
              <div class="name">LA</div>
            </div>
          </div>
          <div class="col">
            <div class="name-header h5 mt-1 mx-2">Lesile Alexander</div>
            <div class="sub-text h6 mx-2">Co-founder Apple</div>
          </div>
        </div>
        <div class="col-sm-12 mx-2 mt-2">
          <hr class="mx-4" />
        </div>
        <div class="col-sm-12 mx-2 mt-1 mb-1">
          <span class="title mx-4 h6">Personal Info</span>
        </div>
        <div class="row mx-4 mt-3 blue-bg">
          <div class="col-sm-5 mt-4 mb-1" *ngFor="let i of icons;let j=index;">
            <div class="row">
              <div class="col-sm-1">
                <span class="text-center text-light icon p-2 col-sm-1">
                  <img [src]="i" alt="icon" />
                </span>
              </div>
              <div class="form-group col-sm-9 mx-3">
                <input type="text" class="form-control mx-2 p-0 bg-dark" [value]="returnDatafromIndex(j)" (input)="valueChanged(j,$event)"/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mx-2 mt-3">
          <hr class="mx-4" />
        </div>
        <div class="row mx-4 mt-1">
          <div class="col-sm-5 mt-4 mb-1" *ngFor="let i of socialIcons">
            <div class="row">
              <div class="col-sm-1">
                <span class="text-center text-light icon p-2 col-sm-1">
                  <img [src]="i.iconUrl" alt="icon" />
                </span>
              </div>
              <div class="col-sm-9 mx-3">
                <div class="mx-2 p-0 bg-dark">{{i.text}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-4 mb-3 col-sm-12 wiggle-bg w-100"></div>
      </div>
    </div>
  </div>
</div>
